<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/LogFiles"/>
  <targets async="true">
    <target name="file"
            xsi:type="File"
            header="日期     种类    信息    来源"
            footer="-------------------------------"
            layout="${date:format=HH\:mm\:ss} ${level} ${message} ${callsite}"
            fileName="${logDirectory}/${shortdate}.txt"/>

    <target name="debugger" xsi:type="Debugger" layout="${message}"/>

    <target name="console"
            xsi:type="ColoredConsole"
            header="时间     信息"
            footer="-------------------------------${newline}"
            layout="${date:format=HH\:mm\:ss} ${message}"/>

    <target name="network"
            xsi:type="Network"
            encoding="GB2312"
            address="tcp://localhost:5555"
            layout="${date:format=HH\:mm\:ss} ${level} ${message}${newline}"/>

    <target name="richTextBox"
            xsi:type="RichTextBox"
            controlName="richTextBox1"
            formName="
            "
            useDefaultRowColoringRules="true"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file"/>
    <logger name="*" minlevel="Trace" writeTo="console"/>
  </rules>
</nlog>
